* {
  font-family: "Monda", "Arial", sans-serif;
  outline: none;
}

.m-header {
  margin-top: 84px;
}

.text-last-center {
  text-align-last: center;
}

.text-last-end {
  text-align-last: end;
}

.product-shadow {
  box-shadow: 0 5px 10px rgba(0,0,0,0.40);
}

.product-shadow-hover {
  &:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,0.40);
  }
}

main {
  min-height: calc(100dvh - 330px);
}
