*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    /* backdrop-filter: blur(10px); */
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}
form *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
   
}
::placeholder{
    color: black;
}
button{
    margin-top: 20px;
    width: 100%;
    background-color: rgb(255 149 119);
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
   
}
.social{
  margin-top: 30px;
  display: flex;
}
body {
    height: 100vh;
    background: url('https://img.freepik.com/free-photo/top-view-black-friday-arrangement-black-background-with-copy-space_23-2148665575.jpg') no-repeat center center fixed;
    background-size: cover;
    position: relative;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.container {
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#content {
    
    padding: 40px;
    border-radius: 10px;
    width: 350px;
    
}

h3 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
}

label {
    font-size: 18px;
    color:white;
    font-weight: 500;
    font-family: auto;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    color: white;
    
}

.social button {
    font-size: 24px;
    font-family: sans-serif;
    width: 100%;
    padding: 12px;
    background: rgb(213, 21, 21);
    color: white;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    transition: background 0.3s ease;
}

.social button:hover {
    background: #dd375b;
}

span {
    display: block;
    color: red;
    text-align: center;
    margin-bottom: 10px;
    font-size: 14px;
}
.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 30px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    cursor: pointer;
}